html {
  box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  margin: 0 0 0.2em;
}

/** NAVIGATION **/

.nav {
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  background-color: #b2a212;
  border-radius: 4px;
  padding: .4em;
}

li {
  display: inline-block;
}

.wrapper {
  background-color: #ffe500;
  padding: 0 0 0.4em;
}

/** MIDDLE OF THE PAGE LAYOUT **/

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  text-align: left;
  padding: 0.2em 0.5em 0.3em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

section {
  line-height: 1.5;
  padding: 0 10px;
}

footer {
  font-family: Georgia;
  background-color: #ffe500;
  text-align: center;
  padding: 10px;
  position:relative;
}

/** HIGHLIGHT CURRENT LINK **/

.nav a:hover {
  background-color: #b20953;
}

.nav .current {
  background-color: #b20953;
}

/** OTHER PAGES **/

img {
  width: 100%;
  display: block;
}

.para {
  font-family: Georgia;
  color: #2f2d13;
}
